<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Anime Detail</title>
</head>
<body>
    <div th:fragment="deilailCard (anime, animeGenres, animeStudios)">
        <div class="card mb-3 mt-5">
            <div class="row g-0">
                <div class="col-md-4">
                    <img th:src="${anime.image_url_lg}" width="100%" class="img-fluid rounded-start" alt="Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title" th:text="${anime.title}"></h3>
                        <h5 class="card-subtitle" th:text="'Score: ' + ${anime.score}"></h5>
                        <br>
                        <p class="card-text" th:text="'Genres: ' + ${animeGenres}"></p>
                        <p class="card-text" th:text="'Premiered: ' + ${anime.premiered} ?: 'unknown'"></p>
                        <p class="card-text" th:text="'Episodes: ' + ${#strings.toString(anime.episodes)} ?: 'unknown'"></p>
                        <p class="card-text" th:text="'Status: ' + ${anime.status} ?: 'unknown'"></p>
                        <p class="card-text" th:text="'Rating: ' + ${anime.rating} ?: 'unknown'"></p>
                        <p class="card-text" th:text="'Studios: ' + ${animeStudios}"></p>
                        <p class="card-text">Link: <a class="card-text" th:href="${anime.url}" th:text="${anime.url}"></a></p>
                        <b class="card-text">Synopsis: </b> <p class="card-text" th:text="${anime.synopsis} ?: 'unknown'"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>