<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="overview (id, title, image_url)">
        <li class="list-group-item bg-light" >
            <div class="row">
                <div class="col-2">
                    <a th:href="${image_url}">
                    <img th:src="${image_url}" class="img-thumbnail" height="200" alt="thumbnail">
                    </a>
                    </div>
                <div class="col-10 d-flex align-items-center">
                    <a th:href="@{'/anime/' + ${id}}" class="h3 link-dark" th:text="${title}"></a>
                    </div>
                </div>
        </li>
    </div>
    <div th:fragment="listOfOverviews(searchResults)">
        <div th:if="${not #lists.isEmpty(searchResults)}">
            <div class="row d-flex justify-content-center">
                <ul class="list-group" th:each="result: ${searchResults}">
                    <div th:replace="fragments/overview.html :: overview (${#strings.toString(result.id)}, ${result.title}, ${result.image_url})">
                    </div>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>